body {
    background: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.content {
    padding: 1em;
}

.notes {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}
.note {
    font-size: 1.2em;
    padding: 0.25em 0;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}
.note:hover {
    opacity: 0.6;
    cursor: pointer;
}
.animate {
    animation: blinker 1s linear infinite;
}
input[type="text"] {
    border: none;
    border-radius: 0.3em;
    display: block;
    margin: 1em 0;
    padding: 0.75em;
}

.add-note {
    padding: 0.75em;
    font-size: 0.75em;
    font-weight: 500;
    border-radius: 0.35em;
    border: none;
    background-color: darkgray;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.1s ease;
    -webkit-transition: transform 0.2s ease-in-out, background-color 0.1s ease;
}
.add-note:hover {
    transform: scale(1.1);
    background-color: gray;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}
